.ust
  .ortalaAna
    .baslikAna Alperen Bozkurt
    %ul.menuAna
      %li
        %a{:title => @title, :href => root_path} Anasayfa
      %li
        %a{:title => @title, :href => posts_path} Blog
      %li
        %a{:title => @title, :href => programs_path} Programlar
      %li
        %a{:title => @title, :href => '#'} İletişim
.ortalaAna
  .programim
    .programcerceve
      .ustr
        %h2
          =@program.name
        %hr/
      %p
        =@program.content
        .fiyatVeOs
          .fiyat
            =link_to 'Ücretsiz İndir', @program.link
      %p
        #disqus_thread
        :javascript
          var disqus_config = function () {
          this.page.url ="#{request.original_url}";
          this.page.identifier = "#{@program.id}";
          };

          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = '//rblog-1.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();

        %noscript
          Please enable JavaScript to view the
          %a{href: "https://disqus.com/?ref_noscript", rel: "nofollow" }
          comments powered by Disqus.


        = link_to 'Düzenle', edit_post_path
        = link_to 'Sil', post_path, method: :delete

.footer
  .ortala
    .copy AlperenBozkurt 2015-2017 | Bazı Hakları Saklıdır.
    .copyy
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_cc.png", :width => "20"}/
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_by.png", :width => "20"}/
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_sa.png", :width => "20"}/
      | Tasarım ve kodlama Alperen Bozkurt
