%div.baslik
  Alperen Bozkurt
%div.orta
  %div.ortala
    %div.resim
    %ul.menu
      %li
        %a{:title => @title, :href => '#'} Anasayfa
      %li
        %a{:title => @title, :href => posts_path} Blog
      %li
        %a{:title => @title, :href => '#'} Programlar
      %li
        %a{:title => @title, :href => '#'} Böcekler
      %li
        %a{:title => @title, :href => '#'} Algoritmalar
      %li
        %a{:title => @title, :href => '#'} İletişim
    %div.aciklamalar
      \#Fırat Üniversitesi #Bilgisayar Mühendisliği #Tosya #Ruby #Rails
