.ust
  .ortalaBlog
    .baslikBlog
      Alperen Bozkurt
    %ul.menuBlog
      %li
        %a{:title => @title, :href => root_path} Anasayfa
      %li
        %a{:title => @title, :href => posts_path} Blog
      %li
        %a{:title => @title, :href => '#'} Programlar
      %li
        %a{:title => @title, :href => '#'} Böcekler
      %li
        %a{:title => @title, :href => '#'} Algoritmalar
      %li
        %a{:title => @title, :href => '#'} İletişim
