.ust
  .ortalaAna
    .baslikAna Alperen Bozkurt
    %ul.menuAna
      %li
        %a{:title => @title, :href => root_path} Anasayfa
      %li
        %a{:title => @title, :href => posts_path} Blog
      %li
        %a{:title => @title, :href => programs_path} Programlar
      %li
        %a{:title => @title, :href => contact_index_path} İletişim
.ortalaAna
  .iletisim
    .hakkimda
      %h2 Hakkımda
      %p
        Merhaba ben Alperen. 1997'de Ankara'da doğdum. Resim çizmeyi, kahve içmeyi, ve program yazmayı çok seviyorum.
        Programlamaya ilkokulun sonuna doğru html ile başladım. Liseye ilk başladığımda oyun yapmaya olan merakımdan c# öğrendim. Lisenin sonlarına doğru web alanına yönelmem gerektiğini düşünerek php öğrenmeye karar verdim. Fakat önce YGS-LYS, sonrada Üniversite buna fırsat vermedi.
        Şu anda
        %b "Eğitimime okul yüzünden uzunca bir süre ara vermek zorunda kaldım."
        diyen abiyle aynı duyguları yaşıyorum.
        Ama bu süreçte vakit bulduğum zamanlarda php ile bir blog yaptım.(Github'daki Ablog projem.)
      %p
        Üniversitede ilk şahsi bilgisayırımı edinince uzun zamandır kullanmak istediğim Ubuntu işletim sistemini kurdum. Linux yaz kampında php den daha hoş olduğunu düşündüğüm Ruby on Rails kursuna gittim. Kendime ayırabildiğim zamanlarda ruby ile ilgileniyorum.
    .iletisimBilgileri
      %h3 Telefon
      %p +90 507 906 1137
    .iletisimBilgileri
      %h3 E-posta
      %p bozkurttalperen@gmail.com
.footer
  .ortala
    .copy AlperenBozkurt 2015-2017 | Bazı Hakları Saklıdır.
    .copyy
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_cc.png", :width => "20"}/
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_by.png", :width => "20"}/
      %img{:height => "20", :src => "https://creativecommons.org/wp-content/themes/creativecommons.org/images/chooser_sa.png", :width => "20"}/
      | Tasarım ve kodlama Alperen Bozkurt
