@import "bootstrap-sprockets"
@import "bootstrap"
@import url('https://fonts.googleapis.com/css?family=Lobster')
@import url(https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext)
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900')

$orange: #d35400
$blue: rgba(52, 152, 219,1)
$sc-color: $orange
$mainColor: #ecf0f1
$color2: rgba(230, 126, 34,1)

$baslik: 'Slabo 27px', serif
$normal: 'Slabo 27px', serif
$logo: 'Lobster', cursive
$menu: 'Alegreya Sans SC', sans-serif



body
  background: $sc-color
  margin: 0px
  font-family: $normal
  overflow-x: hidden
.orta
  background: $mainColor
  height: 230px
  width: auto
  margin-top: 10px
  box-shadow: 0px 0px 20px 2px rgba(71, 71, 71, 1)
  animation-name: orta
  animation-duration: 2s
  animation-fill-mode:forwards

.baslik
  font-size: 60px
  text-align: center
  font-family: $logo
  text-shadow: 1px 1px 5px #000
  color: #FFF
  margin-top: 130px
  animation-name: baslik
  animation-duration: 3s
  animation-fill-mode:forwards

.ortala
  margin-left: auto
  margin-right: auto
  width: 1100px

.resim
  margin-top: 30px
  width: 170px
  height: 170px
  float: left
  border-radius: 90px
  background: $sc-color
  box-shadow: 0px 0px 20px 2px rgba(82, 82, 82, 1) inset
  animation: baslik 3s forwards

ul.menu
  font-size: 28px
  margin-top: 75px
  margin-left: 20px
  float: left
  display: block
  list-style: none
  height: 50px
  font-family: $menu
  animation: resim 3s forwards
  li
    float: left
    display: block
    a
      padding: 10px
      border-radius: 6px
      color: $sc-color
      float: left
      text-decoration: none
      &:hover
        padding: 10px
        border-radius: 3px
        background-color: $sc-color
        text-shadow: 1px 1px 5px #000
        color: $mainColor
        box-shadow: inset 0px 0px 10px 2px rgba(81, 81, 81, 0.6)
        float: left
        text-decoration: none

.aciklamalar
  font-family: $logo
  margin-left: 50
  float: left
  font-size: 20px
  margin-top: 25px
  color: $color2
  animation: baslik 3s forwards

@keyframes baslik
  0%
    opacity: 0
  75%
    opacity: 0
  100%
    opacity: 1

@keyframes orta
  0%
    height: 0px
    margin-top: 125px
  100%
    height: 230px
    margin-top: 10px

@keyframes resim
  0%
    opacity: 0
  66%
    opacity: 0
  100%
    opacity: 1
//
// I LOVE ROR
//

// Posts

.ust
  height: 70px
  width: auto
  background: #fff
  box-shadow: 0px 0px 20px 2px rgba(81,81, 81, 0.6)
.baslikBlog
  font-size: 48px
  font-family: $logo
  color: $sc-color
  text-shadow: 1px 1px 5px #000 inset
  float: left
.ortalaBlog
  margin-left: auto
  margin-right: auto
  width: 1200px
ul.menuBlog
  font-family: $menu
  font-size: 23px
  margin-left: 15px
  margin-top: 15px
  float: left
  display: block
  list-style: none
  height: 50px
  li
    float: left
    a
      padding-left: 15px
      padding-right: 15px
      padding-bottom: 5px
      padding-top: 5px
      color: #d35400
      float: left
      text-decoration:none
      transition-property: color,border-color
      transition-duration: 1s
      transition-delay: 0s
      &:hover
        padding-left: 15px
        padding-right: 15px
        padding-top: 5px
        border-bottom: 5px solid #e67e22
        color: #e67e22
        float: left
        text-decoration: none
.yazilar
  float: left
  width: 700px
.yazi
  width: 690px
  margin-right: 10px
  margin-top: 10px
  padding-bottom: 10px
  background-color: #fff
  border-radius: 3px
  box-shadow: 0px 0px 10px 1px rgba(82,82,82,0.6)
  float:left
  h2
    margin-left: 15px
    float: left
    margin-top: 15px
    margin-bottom: 5px
    font-size: 25px
    font-family: $baslik
    font-weight: bold
    a
      text-decoration: none
      color : $sc-color
      float: left
      &:hover
        color : $color2
.yaziBilgisi
  margin-bottom: 0px
  color: rgba(81,81,81,0.4)
  font-size: 12px
  float: right
  margin-top: 24px
  margin-right: 50px
  font-family: $logo
hr
  float: left
  width: 650px
  margin: 5px
  margin-left: 20px
  margin-bottom: 10px
  border: 1px solid #d35400
.postBaslik
  height: 50px
  width: auto
p
  margin: 15px
  font-size: 15px
  color: rgba(82,82,82,0.8)
.widget
  width: 280px
  margin-top: 10px
  background-color: #fff
  border-radius: 3px
  box-shadow: 0px 0px 10px 1px rgba(82,82,82,0.6)
  float: left
  text-align: center
  h3
    color : #d35400
    font-family: $logo
    width: 280px
    margin-top: 15px
    margin-bottom: 15px
    animation-name:baslik
    animation-duration: 1.2s
    animation-fill-mode:forwards
    float: left
  hr
    margin-left: 5px
    border: 1px solid #d35400
    float: left
  ul
    text-align: left
    color: rgba(0,0,0,0.8)
    float: left
    li
      height: 20px
      list-style: circle
      line-height: 20px
      color: #d35400
      a
        text-decoration: none
        margin: 5px
        color: #e67e22
        transition-property: color
        transition-duration: 0.5s
        transition-delay: 0s
        padding: 2px

        &:hover
          padding: 2px
          color: #000
          border-radius: 5px
          text-decoration: none
          background-color: #e67e22

.sag
  float: left
  width: 280px
.yorumlar
  margin: 15px
