.ust
  .ortalaAna
    .baslikAna Alperen Bozkurt
    %ul.menuAna
      %li
        %a{:title => @title, :href => root_path} Anasayfa
      %li
        %a{:title => @title, :href => posts_path} Blog
      %li
        %a{:title => @title, :href => programs_path} Programlar
      %li
        %a{:title => @title, :href => contact_index_path} İletişim
